// MIXIN
@mixin warning {
    background-color: orange;
    color: white;
}

@mixin box-shadow($shadows...) {
    box-shadow: $shadow;
    -moz-box-shadoe: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin large-text {
    font: {
        size: 22px;
        weight: bold;
    }
}

@mixin rounded($radius:6px) {
    border-radius: $radius;
}

@mixin box($border: 1px solid #000, $radius: 12px) {
    @include rounded($radius);
    border: ($border);
}

@mixin fancy-links {
    a {
        font-style: italic;
        text-decoration: none;
    }
}

@include fancy-links;