@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdf8f5;
  color: #4f4846;
}

.app-name {
  font-weight: 800;
}

main {
  background-color: #e8cebf;
  color: #fdf8f5;
}

.landing-main,
.landing-links,
footer {
  display: flex;
}

.landing-main {
  justify-content: space-between;
}

.welcome,
.new-user,
footer {
  position: relative;
}

.welcome,
.landing-image {
  max-width: 50%;
}

.welcome {
  top: 100px;
}

h3,
.new-user {
  text-align: center;
}

h3 {
  font-size: 60px;
}

.landing-links {
  flex-direction: column;
}

.log-in {
  background-color: #ddaf94;
  border: 1px solid #ddaf94;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
}

.new-user {
  top: 10px;
}

.new-user,
.log-in-link {
  color: #fdf8f5;
  font-size: 16px;
}

.new-user:hover,
.log-in-link:hover {
  color: #4f4846;
}

.landing-image {
  height: auto;
}

footer {
  font-style: italic;
  opacity: 0.75;
  justify-content: space-between;
  top: 20px;
}

a {
  text-decoration: none;
  color: #4f4846;
}

.linkedIn-link:hover {
  color: #ddaf94;
}
