/* STYLING THAT WILL APPLY TO ALL THE PAGES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdf8f5;
  color: #4f4846;
}

main {
  background-color: #e8cebf;
  color: #fdf8f5;
}
